.social {
    margin: 4rem 0 4rem;

    .share-buttons {
        padding-left: 0;

        .social-facebook {
            background-image: url("../../Images/Social/Facebook.svg");
        }

        .social-twitter {
            background-image: url("../../Images/Social/Twitter.svg");
        }

        .social-googleplus {
            background-image: url("../../Images/Social/GooglePlus.svg");
        }

        .social-linkedin {
            background-image: url("../../Images/Social/LinkedIn.svg");
        }

        .social-email {
            background-image: url("../../Images/Social/Email.svg");
        }

        a {
            padding: 16px;
            display: inline;
            background-size: 32px 32px;
            background-repeat: no-repeat;

            &:hover, &:active, &:focus {
                text-decoration: none;
            }

            span {
                font-size: 0;
            }
        }
    }
}
