<div class="credits">
    <span class="copyright">
        @T("Using <a href=\"https://github.com/barthamark/basic-blog-theme\">Orchard Basic Blog Theme</a> created by <a href=\"http://markbartha.com\">Márk Bartha</a>")
    </span>
</div>