@{
    var encodedSiteUrl = Url.Encode(WorkContext.CurrentSite.BaseUrl);
}

<div class="social">
    <div class="share-buttons">
        <a class="social-facebook" href="https://www.facebook.com/sharer/sharer.php?u=@(encodedSiteUrl)&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;">
            <span>Share on Facebook</span>
        </a>
        <a class="social-twitter" href="https://twitter.com/intent/tweet?source=@(encodedSiteUrl)&text=:%20@(encodedSiteUrl)" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + '%20'  + encodeURIComponent(document.URL)); return false;">
            <span>Share on Twitter</span>
        </a>
        <a class="social-googleplus" href="https://plus.google.com/share?url=@(encodedSiteUrl)" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;">
            <span>Share on Google Plus</span>
        </a>
        <a class="social-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=@(encodedSiteUrl)&title=&summary=&source=@(encodedSiteUrl)" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">
            <span>Share on LinkedIn</span>
        </a>
        <a class="social-email" href="mailto:?subject=&body=:%20@(encodedSiteUrl)" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;">
            <span>Send in E-mail</span>
        </a>
    </div>
</div>