@*<div class="zone zone-header">
    <div class="header-container">
        @DisplayChildren(Model)
    </div>
</div>*@

@{
    var tag = Tag(Model, "div");
}

@tag.StartElement

@DisplayChildren(Model)

@tag.EndElement
