/* Breadcrumbs
   Some LESS variables that you can configure from your derived theme.
***************************************************************/
/* Variables
***************************************************************/
/* Colors */
/* Media queries */
/* Navigation vars */
/* Setting bootstrap vars */
/* Font size vars */
/* Common
   Common imports needed in every PGBBT LESS file.
***************************************************************/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.zone-content .projection-list h1,
.zone-content .content-items h1,
.widget h1,
.widget .projection-list h1,
.widget .content-items h1 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
.zone-content .projection-list h1,
.zone-content .content-items h1,
.widget h1,
.widget .projection-list h1,
.widget .content-items h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2,
.zone-content .projection-list h1,
.zone-content .content-items h1,
.widget h1 {
  font-size: 30px;
}
h3,
.h3,
.widget .projection-list h1,
.widget .content-items h1 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 47.95em) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #337ab7;
}
a.text-primary:hover {
  color: #286090;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.bg-primary:hover {
  background-color: #286090;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.43;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 48em) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.43;
  color: #777777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.43;
}
/* Typography
   Typography styling for various cases.
***************************************************************/
/* Headings */
.zone-content > .content-item:first-of-type > header h1,
.zone-content > h1 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
/* General */
#branding {
  font-weight: bold;
}
p {
  text-align: justify;
}
/* Typography
***************************************************************/
/* Variables */
.basicblog-font-light {
  font-family: "Segoe UI Light", "Segoe UI Web", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
}
.basicblog-font-normal {
  font-family: "Segoe UI", "Segoe UI Web", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
}
.basicblog-font-bold {
  font-family: "Segoe UI", "Segoe UI Web", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
  font-weight: bold;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.zone-content .projection-list h1,
.zone-content .content-items h1,
.widget h1,
.widget .projection-list h1,
.widget .content-items h1 {
  font-weight: 400;
}
h1 {
  font-size: 1.3em;
}
h1 small {
  font-size: 1.15em;
}
h2,
.zone-content .projection-list h1,
.zone-content .content-items h1,
.widget h1 {
  font-size: 1.15em;
}
h2 small {
  font-size: 1em;
}
h3,
.widget .projection-list h1,
.widget .content-items h1 {
  font-size: 1.15em;
}
h3 small {
  font-size: 1em;
}
h4 {
  font-size: 1.15em;
}
h5 {
  font-size: 1.15em;
}
h6 {
  font-size: 1.15em;
}
.basicblog-button {
  color: #ffffff;
  background-color: #0078d7;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0.1rem solid transparent;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  font-size: 0.8em;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: inherit;
}
.basicblog-button:hover,
.basicblog-button:focus,
.basicblog-button:active {
  color: #fff;
  background-color: #00599d;
}
.basicblog-header-anchor {
  color: #333333;
}
.basicblog-header-anchor:hover,
.basicblog-header-anchor:active,
.basicblog-header-anchor:focus {
  text-decoration: none;
}
.basicblog-tag {
  color: #ffffff;
  background-color: #0078d7;
  font-size: 0.7em;
  padding: 0.1rem 0.5rem;
}
.basicblog-tag:hover,
.basicblog-tag:active,
.basicblog-tag:focus {
  text-decoration: none;
}
.basicblog-errorbox {
  border: 0;
  background-color: #fa6800;
  color: #e5e5e5;
}
.basicblog-form label {
  display: table-cell;
  font-size: 0.9em;
}
.basicblog-form input,
.basicblog-form textarea {
  margin: 1rem 0;
  /*display: table-cell;*/
  width: 100%;
  font-size: 0.8em;
}
.basicblog-form input[type=checkbox] {
  width: auto;
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
}
.basicblog-navigation-image {
  background-repeat: no-repeat;
  background-size: 1.7rem;
  width: 1.7rem;
  height: 1.7rem;
  margin: -0.4rem 0 0 0;
  display: inline;
}
.basicblog-metadata-item {
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-position: center left;
  padding: 0 0 0 1.7rem;
  margin: 0 1.5rem 0 0;
  border: 0;
}
#layout-main-container {
  margin: 0 auto;
}
@media only screen and (min-width: 68.6em) {
  #layout-main-container {
    width: 57.8em;
    padding: 0;
  }
}
#layout-main-container #layout-content {
  padding: 0;
}
#layout-main-container #layout-content .zone-content {
  margin: 4rem 0 4rem 0;
  padding: 0 1rem;
  background-color: #ffffff;
}
@media only screen and (min-width: 68.6em) {
  #layout-main-container #layout-content .zone-content {
    padding: 0;
  }
}
#layout-main-container #layout-content .zone-content .homepage-title {
  font-size: 1em;
  text-transform: uppercase;
  color: #6b6b6b;
  font-family: "Segoe UI", "Segoe UI Web", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
  font-weight: bold;
  border-bottom: 0.1rem solid #e5e5e5;
  margin: 0;
  padding: 0 0 0.5rem 0;
}
.aside-2 #layout-main-container #layout-content {
  padding: 0 1rem;
  width: 100%;
}
@media only screen and (min-width: 68.6em) {
  .aside-2 #layout-main-container #layout-content {
    padding: 0 3rem 0 0;
    width: 75%;
  }
}
.aside-2 #layout-main-container #aside-second {
  padding: 0 2rem;
  width: 100%;
}
@media only screen and (min-width: 68.6em) {
  .aside-2 #layout-main-container #aside-second {
    width: 25%;
    padding: 0 0 0 3rem;
  }
}
.aside-2 #layout-main-container #aside-second .zone-aside-second {
  margin: 4rem 0 0 0;
  padding: 0;
}
