@import "../../Lombiq.PrettyGoodBootstrapBaseTheme/Styles/variables";


/* Variables
***************************************************************/

/* Colors */

@basicblog-color-lightgreen: #7DC534;
@basicblog-color-blue: #046380;
@basicblog-color-indigo: #281e5d;
@basicblog-color-orange: #f7941d;
@basicblog-color-darkblue: #034D63;
@basicblog-color-darkgray: #333333;
@basicblog-color-lightgray: #E5E5E5;
@basicblog-color-white: #FFFFFF;
@basicblog-color-gray: #6B6B6B;

@basicblog-color-primary: @basicblog-color-blue;
@basicblog-color-secondary: @basicblog-color-lightgray;
@basicblog-color-information: @basicblog-color-lightgreen;
@basicblog-color-warning: @basicblog-color-indigo;
@basicblog-color-error: @basicblog-color-orange;
@basicblog-color-text: @basicblog-color-darkgray;
@basicblog-color-text-inverz: @basicblog-color-white;
@basicblog-color-background: @basicblog-color-white;
@basicblog-color-background-inverz: @basicblog-color-darkgray;
@basicblog-color-button: @basicblog-color-blue;
@basicblog-color-button-hover: @basicblog-color-darkblue;
@basicblog-color-link: @basicblog-color-blue;
@basicblog-color-link-hover: @basicblog-color-blue;


/* Media queries */

@screen-sm-min: 50em; // ~768px
@screen-md-min: 62em; // ~992px in Chrome, more in FF...
@screen-lg-min: 75em; // ~1200px


// The tilde is needed so the quotes won't be printed

@media-sm: ~"only screen and (min-width: @{screen-sm-min})";
@media-sm-max: ~"only screen and (max-width: @{screen-sm-min})";
@media-md: ~"only screen and (min-width: @{screen-md-min})";
@media-lg: ~"only screen and (min-width: @{screen-lg-min})";


/* Setting bootstrap vars */

@text-color: @basicblog-color-text;
@link-color: @basicblog-color-link;
@link-hover-color: @basicblog-color-link-hover;


/* Font size vars */

@basicblog-font-size-xxxlarge: 1.250em;
@basicblog-font-size-xxlarge: 1.625em;
@basicblog-font-size-xlarge: 1.375em;
@basicblog-font-size-large: 1.125em;
@basicblog-font-size-normal: 1em;
@basicblog-font-size-small: 0.875em;
/*@basicblog-font-size-smaller: 0.875em;*/
@basicblog-font-size-xsmall: 0.750em;
@basicblog-font-size-xxsmall: 0.625em;
@basicblog-font-size-xxxsmall: 0.500em;